.img{
  width: 3000px;
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

.container {
  border-color: rgb(213, 4, 4);
  border-style:dashed;
  padding: 30px;
  width: 250px;
  background-color:whitesmoke;
  border-radius: 50px ;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bgimg{
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size: contain;
  opacity: 90%;
  
}

#calcBtn{
  background-color: bisque;
}

#calc{
  background-color: bisque;
}
 
#convertBtn {
  background-color: bisque;
}