.img{
  height: 1000px;
  width: 3000px;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

.container {
  border-color: rgb(213, 4, 4);
  border-style:dashed;
  padding: 15px;
  width: 250px;
  background-color:whitesmoke;
  
}

.bgimg{
  background-image: url(../images/bg.jpg);
  background-size: contain;
  opacity: 90%;
  

}
